{% extends "base.html.twig" %}

{% block title %}Symfony Recipe - {{ recipe.name }}{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-4">{{ recipe.name }} </h1>

        <div class="recipe__image">
            <img style="max-width: 500px" src="{{ vich_uploader_asset(recipe, 'imageFile') }}">
        </div>

        <span class="badge bg-primary">Créée le {{ recipe.createdAt|date('d/m/Y') }}</span>

        <p class="mt-4">La moyenne de cette recette est de {{recipe.average|number_format(2)}}/5</p>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        <div class="mt-4">
        {% if recipe.time %}
        <p>Temps (en minute) : {{ recipe.time }}</p>
        {% else %}
        <p>Temps non renseigné</p>
        {% endif %}
        </div>

        <div class="mt-4">
        {% if recipe.nbPeople %}
        <p>Pour : {{ recipe.nbPeople }} personnnes</p>
        {% else %}
        <p>Nombre de personne non renseigné</p>
        {% endif %}
        </div>

        <div class="mt-4">
        {% if recipe.difficulty %}
        <p>Difficulté : {{ recipe.difficulty }} / 5</p>
        {% else %}
        <p>Difficulté non renseignée</p>
        {% endif %}
        </div>

        <div class="mt-4">
        {% if recipe.price %}
        <p>Prix (en €) : {{ recipe.price }}</p>
        {% else %}
        <p>Prix non renseigné</p>
        {% endif %}
        </div>

        <div class="mt-4">
        {% if recipe.description %}
        <p>Description : {{ recipe.description | raw }}</p>
        {% else %}
        <p>Description non renseignée</p>
        {% endif %}
        </div>

        <p class="mt-4">Ingrédients :</p>
        {% for ingredient in recipe.ingredients %}
            <span class="badge bg-primary">{{ ingredient.name }}</span>    
        {% endfor %}
    
        <div>
            {{ form(form) }}
        </div>

    </div>

{% endblock %}